* { 
	margin: 0;
	box-sizing: border-box; 
}

#slogan {
	font-weight: bold;
	font-size: 25px;
	color: white;
	font-style: italic;
}

#waiting {
	font-weight: bold;
	font-size: 65px;
	color: white;
	display: flex;
}

body {
  font-family: Helvetica;
  color: rgb(58,58,58);
  text-align: center;
}

h1 {
	font-size: 55px;

}

h2 {
	font-size: 40px;
	font-weight: 600;
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	color: rgb(101,196,0);
	font-variant-caps: all-petite-caps;
}

#contact {
	font-weight: bold;
	font-size: 25px;
	color: rgb(101,196,0);
	font-variant-caps: all-petite-caps;
}

ul {
  list-style-type: none;
}

.hero {
	background-image: url('../images/mexican_food_cover.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 600px;
	display: flex;
	justify-content: center; 
	align-items: center; 
}